body {
    font-family: monospace;
    background-image: url(IMG/snow.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
h1, h2 {
    text-align: center;
}